# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\326\Problem-Solving\SocialDistancing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
